In [4]:
import findspark
findspark.init('/home/fdelca/Documents/spark/spark-2.1.2-bin-hadoop2.7')

import pyspark
import os

### Start a spark session

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.hadoop.security.authentication.util.KerberosUtil (file:/home/fdelca/Documents/spark/spark-2.1.2-bin-hadoop2.7/jars/hadoop-auth-2.7.3.jar) to method sun.security.krb5.Config.getInstance()
WARNING: Please consider reporting this to the maintainers of org.apache.hadoop.security.authentication.util.KerberosUtil
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/05/25 18:23:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/05/25 18:23:46 WARN Utils: Your hostname, fdelca-XPS-13-9380 resolves to a loopback address: 127.0.1.1; using 192.168.1.133 instead (on interface wlp2s0)
22/05/25 18:23:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

## Spark DataFrames - Lesson 1

### Read Data

In [5]:
df = spark.read.json(os.path.join('data','people.json'))

In [7]:
# Show the dataframe
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [8]:
# Know the schema
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

Depending on your datasource, spark can dtype everything as a string - be caution with that

In [9]:
df.columns

['age', 'name']

In [11]:
# Statistical summary of your columns
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

### Define Schema
- Sometimes we need to clarify the datatypes

In [13]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [14]:
data_schema = [
    StructField('age', IntegerType(), True), #Column name, Class instance (integer type), T/F can it be null?
    StructField('name', StringType(), True),
]

In [15]:
final_struc = StructType(fields=data_schema)

In [17]:
df = spark.read.json(os.path.join('data','people.json'), schema=final_struc)

In [18]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

### Data Manipulations

#### Select Data

In [21]:
# Get a column object
type(df['age'])

pyspark.sql.column.Column

In [26]:
# With select we can have a dataframe, and then we can add show() to see the column
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [27]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [35]:
# Select the first two rows
df.head(2)[0]

Row(age=None, name='Michael')

In [37]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

#### Create a dataframe with a new column

In [41]:
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [42]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

We need to save it to a new variable, it is not an inplace operation

#### Rename a column

In [44]:
# Rename a column
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

### Using Pure SQL

1. Register the df as a temporary view in SQL

In [45]:
df.createOrReplaceTempView('people')

In [48]:
results = spark.sql("SELECT * FROM people")

In [49]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [50]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [51]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

## Spark DataFrames - Lesson 2

In [ ]:
df = spark.